.resButton {
  background-color: coral;
  border: 4px black solid;
  border-radius: 20px;
  color: black;
  margin-left: 7%;
  padding: 15px;
  font-size: 16px;
}

.res {
  margin-left: 42%;
  margin-top: 4%;
  font-family: "Courier New", Courier, monospace;
}
